@model HalloDoc.DbEntity.ViewModel.AdminProfileVM
<div class="border-white rounded-3 border form-div mt-3 shadow-lg p-2 container">
    <h3>Account Information</h3>
    <div class="row mt-5 ">
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" asp-for=@Model.UserName class="form-control" id="floatingInput" mailto:placeholder="name@example.com">
                <label for="floatingInput">User Name</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" mailto:placeholder="name@example.com">
                <label for="floatingInput">Password</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 ">
            <div class="form-floating mb-3">
                <input type="text" asp-for="@Model.Status" class="form-control" id="floatingInput" mailto:placeholder="name@example.com">
                <label for="floatingInput">Status</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3 phone-code">
                <input type="text" asp-for="@Model.Roll" class="form-control phone-input phone" id="phone">
                <label for="floatingInput">Roll</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-action="SendResetPassword">
            <button class="btn btn-outline-info py-1 py-2 rounded">Reset Password</button>
        </a>
    </div>
    <form class="form" asp-action="EditAdminProfile" asp-route-id="@Model.AdminId" method="post">
        <fieldset id="field" disabled>
            <div class="row mt-5 ">
                <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for=@Model.FirstName class="form-control" id="floatingInput">
                        <label for="floatingInput">First Name</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for=@Model.LastName class="form-control" id="floatingInput">
                        <label for="floatingInput">Last Name</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 ">
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for=@Model.Email id="Email1">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                        <input onblur="checkEmailExists()" type="email" class="form-control" id="Email2">
                        <label for="floatingInput">Confirm Email</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3 phone-code">
                        <input type="tel" asp-for=@Model.PhoneNo class="form-control phone-input phone" id="phone">
                        <label for="floatingInput">Phone Number</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    @if (Model.RegionList!=null)
                    {
                        @foreach (var reg in Model.RegionList)
                        {
                            @if (Model.AdminRegList.Any(x => x.RegionId == reg.RegionId))
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input checkbox" type="checkbox" name="SelectedReg" value="@reg.RegionId" checked >
                                    <label class="form-check-label text6" for="inlineCheckbox1">@reg.Name</label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input checkbox" type="checkbox" name="SelectedReg" value="@reg.RegionId">
                                    <label class="form-check-label text6" for="inlineCheckbox1">@reg.Name</label>
                                </div>
                            }
                        }                   
                        
                    }
                </div>


            </div>
        </fieldset>
        <div class="btns  d-flex justify-content-end my-3">
            <button id="edit" type="button" data-text="edit" class="btn border-info rounded-2">Edit</button>
            <button id="Cancle" type="button" class="btn border-info rounded-2 d-none ms-3">Cancle</button>
        </div>
    </form>
    <h3>Mailing Information</h3>
    <div class="row mt-5 ">
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" asp-for=@Model.Address1 class="form-control" id="floatingInput">
                <label for="floatingInput">Address1</label>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" asp-for=@Model.Address2 class="form-control" id="floatingInput">
                <label for="floatingInput">Address2</label>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 ">
            <div class="form-floating mb-3">
                <input type="text" asp-for=@Model.City class="form-control" id="floatingInput">
                <label for="floatingInput">City</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3 phone-code">
                <input type="text" class="form-control phone-input phone" id="phone">
                <label for="floatingInput">Roll</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3 phone-code">
                <input type="text" asp-for=@Model.ZipCode class="form-control phone-input phone" id="phone">
                <label for="floatingInput">ZipCode</label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-floating mb-3 phone-code">
                <input type="tel" asp-for=@Model.AltPhone class="form-control phone-input phone" id="phone">
                <label for="floatingInput">Phone Number</label>
            </div>
        </div>
    </div>

</div>




<div class="btns  d-flex justify-content-end my-3">
    <button class="btn border-info rounded-2">Edit</button>
    <button type="submit" class="btn border-info rounded-2 mx-2">Save Changes</button>
</div>
<script>
    document.getElementById("edit").addEventListener('click', function (event) {
        var cancel = document.getElementById('Cancle');
        const btntext = this.getAttribute('data-text');
        if (btntext == "edit") {
            this.setAttribute('data-text', 'save');
            this.innerText = 'Save';
            cancel.classList.remove('d-none');
            document.getElementById("field").disabled = false;
        } else {
            this.setAttribute('data-text', 'edit');
            this.innerText = 'Edit';
            cancel.classList.add('d-none');
            document.getElementById("field").disabled = true;
        }
    })

    document.getElementById("Cancle").addEventListener('click', function (event) 
    {
        const btntext = document.getElementById('edit');
        if (btntext.getAttribute('data-text') == 'save') 
        {
            this.classList.add('d-none');
            btntext.innerText = 'Edit';
            document.getElementById("field").disabled = true;
        }
        else{
            console.log("else");
        }
    })

    function checkEmailExists() {
        var email1 = document.getElementById('Email1').value;
        var email2 = document.getElementById('Email2').value;
        if (email1 !== email2) {
            alert('Email and confirm Email is not same');
        }
    }
</script>