@model IEnumerable<HalloDoc.DbEntity.ViewModel.ProviderInformation>

<form asp-action="ProviderStopNotification" asp-controller="admin">
    <div id="data">
        <table class="">
            <thead>
                <tr class="">
                    <th class="col-1 text-center">Stop Notification</th>
                    <th class="text-center">Provider Name &uarr;</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">On Call Status</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var phy in Model)
                {
                    <tr class="p-2">
                        <td class="text-center"><input type="checkbox" checked="@phy.isChecked" value="@phy.ProviderId" name="IsChecked" onclick="CheckChange()" /></td>
                        <td class="text-center">@phy.FirstName</td>
                        <td class="text-center">Role</td>
                        <td class="text-center">Call Status</td>
                        <td class="text-center">
                            status
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn border rounded-2 btn-outline-info" onclick="ShowModal(@phy.ProviderId)">Contact</button>
                            <a asp-action="EditProviderAccount" asp-route-id="@phy.ProviderId" class="btn border rounded-2 btn-outline-info">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn border rounded-2 btn-outline-info mt-3 d-none" id="save">save</button>
    </div>

</form>

<div id="showmodal">
</div>

<script>

    function CheckChange() {
        document.getElementById('save').classList.remove('d-none');
    }
    function ShowModal(id) {

        $('#showmodal').load('/Admin/ProviderContact/' + id, function () {

            const modal = new bootstrap.Modal(document.getElementById('ContactProvider'));
            console.log(modal);
            modal.show();
        });

    }

</script>