@model HalloDoc.DbEntity.ViewModel.SendMailVM

<div class="modal fade" id=Send tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="SendAgreementPost" asp-route-id="@Model.ReqId" method="post">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Send Agreement</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Block"></button>
                </div>
                <div class="modal-body">
                    <div>
                        
                        @if(Model.ReqType==1)
                            {
                            <div>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Patient
                            </div>
                            }
                            else if (Model.ReqType == 2)
                            {
                            <div>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Family/Friend
                            </div>
                            }
                            else if (Model.ReqType == 3)
                            {
                            <div>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-info" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Concierge
                            </div>
                            }
                            else if (Model.ReqType == 4)
                            {
                            <div>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                Business
                            </div>
                            }
                        </div> 
                    <div>To Send Agreement Please Make Sure You are updating the correct contact information below for the responsible party.</div>
                    
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="@Model.PhoneNo" class="form-control" id="floatingInput" placeholder="Phone Number">
                        <label asp-for="@Model.PhoneNo" for="floatingInput">Phone Number</label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="@Model.Email" type="email" class="form-control" id="floatingPassword" placeholder="Email">
                        <label asp-for="@Model.Email" for="floatingPassword">Email</label>
                    </div>

                </div>
                <div class="d-flex justify-content-end mx-3 mb-2">
                    <a ><button type="submit" class="btn btn-outline-info">Send</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
